/* Color Theme Swatches in Hex */
.Cake-dessert-chocolate-sweet-delicious-1-hex { color: #D94E67; }
.Cake-dessert-chocolate-sweet-delicious-2-hex { color: #6F87A6; }
.Cake-dessert-chocolate-sweet-delicious-3-hex { color: #D9B5A0; }
.Cake-dessert-chocolate-sweet-delicious-4-hex { color: #BF826B; }
.Cake-dessert-chocolate-sweet-delicious-5-hex { color: #592A25; }

/* Color Theme Swatches in RGBA */
.Cake-dessert-chocolate-sweet-delicious-1-rgba { color: rgba(216, 78, 103, 1); }
.Cake-dessert-chocolate-sweet-delicious-2-rgba { color: rgba(111, 134, 165, 1); }
.Cake-dessert-chocolate-sweet-delicious-3-rgba { color: rgba(216, 181, 160, 1); }
.Cake-dessert-chocolate-sweet-delicious-4-rgba { color: rgba(191, 129, 107, 1); }
.Cake-dessert-chocolate-sweet-delicious-5-rgba { color: rgba(89, 41, 37, 1); }

/* Color Theme Swatches in HSLA */
.Cake-dessert-chocolate-sweet-delicious-1-hsla { color: hsla(348, 64, 57, 1); }
.Cake-dessert-chocolate-sweet-delicious-2-hsla { color: hsla(213, 23, 54, 1); }
.Cake-dessert-chocolate-sweet-delicious-3-hsla { color: hsla(22, 42, 73, 1); }
.Cake-dessert-chocolate-sweet-delicious-4-hsla { color: hsla(16, 39, 58, 1); }
.Cake-dessert-chocolate-sweet-delicious-5-hsla { color: hsla(5, 40, 24, 1); }